    <div class="form">
        <h3 class="text-center">Escreva seus Posts</h3>
        <a href="/cad" class="btn btn-warning float-right mr-2"><button> Pagina de cadasto de posts</button></a> <hr>
        <form action="/edit" method="POST">
            <label for="title">Título</label><br>
            <input type="text" name="titulo" class="form-control"><br>
            
            <label for="title">Conteúdo</label><br>
            <textarea class="form-control" name="conteudo"></textarea><br>

            <button type="submit" class="btn btn-success float-right">Salvar</button>
            <a href="/" class="btn btn-warning float-right mr-2"><button>Cancelar</button> </a>
        </form>
    </div>
</div>
